.body{
    font-family: "Nunito", sans-serif;
    color: #212529;
    text-align: left;
}
.text-decoration{
    text-decoration: none;
}
.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
h4, .h4 {
    font-size: 1.35rem;
}
h3, .h3 {
    font-size: 1.575rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    /* margin-bottom: 0.5rem; */
}
*, *::before, *::after {
    box-sizing: border-box;
}
.col-md-2 .col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px){
    .col-md-2 {
        -webkit-box-flex: 0;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}