.contain{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.card{
  display:block;
}
.w3-card-4{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 18px;
  background-color: white;
}
.cardimg{
  /* min-width: 400px; */
  margin: 0 auto;
  padding: 7px;
  width: 100%;
  height: auto;
  max-height:520px; 
  background-size:cover;
}
.content{
  width: auto;
  margin-left:15px;
  margin-right: 15px;
  background-color: rgb(238, 238, 238);
  padding: 20px;
  min-height: 200px;
}
.btn_update{
  width: 120px;
  height: 30px;
  margin-left: 70%;
}
.btn_delete{
  width: 120px;
  height: 30px;
}
#createJapan{
  padding: 25px;
}
.form-group{
  margin: 10px; 
}
.form-group>label{
  width: 20%;
  margin-right: 5%;
}
.form-group>textarea{
  width: 75%;
}
.form-group>input{
  width: 75%;
  
}
aside {
  display: block;
  padding: 10px;
  background-color: #e7e7e7;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: auto; */
  width: 200px;
}
.btn-primary {
  background-color: dimgray;
  border-color: darkgray;
  color: aliceblue;
}
.text-right{
  float: right;
}
.listbtn{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 70px;
  padding: 3px;
  text-align: center;
  text-align: center;
}
.btn-info{
  height: 31px;
  line-height: 27px;
}
.updatebtn{
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 70px;
  padding: 3px;
  text-align: center;
  text-align: center;
}
.changebtn{
  position: flex;
}
.contains{
  display:flex;   
  width:98%;
  margin: 0 auto;
  height: 100%;
}
.main-chart{
  width: 98%;
  height: 100%; 
  padding-bottom: 100%;
  color: black;
  
}
html, body{
    height: 100%;
    color: black;
}
.view{
    margin-top: 52px;
    display: list-item;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #709090;
    padding: 5px;
}
.Imagecontent{
  width:100%;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.japanImage{
    width:90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.m-b{
  padding: 10px;
}
.page-header>h3{
    padding: 10px;
    border-left: 4px solid black;
}
.jp_title{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #aaaaaa;
    border: 1px solid black;


}
.jp_title>h3{
    padding: 10px;
    padding-left: 10px;
    width: 70%;
    margin: 0;
}
.jp_title>small{
  margin-right: 10px;
  margin-left: auto;
  padding: 15px;
}
.attachment__article{
  padding-left: 3%;
  padding-right: 3%;
}
a{
    text-decoration: none;
    color: black;
}
/* .left30{
  padding-left: 10%;
  padding-right: 3px;
} */
@media (min-width: 576px) {
  .contain {
    max-width: 540px;
  }
  .contains{
    width:87%;
  }
}
.btn{
    width:100px;
    height: 100px;
    line-height: 100px;
    margin-left: 17%;
    margin-top: 20px;
}

@media (min-width: 768px) {
  .contain {
    max-width: 720px;
  }
  .contains{
    width:84%;
  }
}

@media (min-width: 992px) {
  .contain {
    max-width: 960px;
  }
  .contains{
    width:80%;
  }
  .btn_update{
    margin-left: 47%;
  }
}

@media (min-width: 1200px) {
  .contain {
    max-width: 1140px;
  }
  .contains{
    max-width:1200px;
  }
  .btn_update{
    margin-left: 60%;
  }
}
@media (min-width: 1300px) {
  .btn_update{
    margin-left: 70%;
  }
}