
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}   
.fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1030; */
}
.navbar-expand-lg{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navbar{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid{
    flex-wrap: nowrap;
}
.navbar>.container, .navbar>.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainNav .navbar-toggler{
    font-size:12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: aliceblue;
    border: 0;
    background-color: #fed136;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}
  
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.9rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
  
.dropdown-menu-left {
  right: auto;
  left: 0;
}
  
.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #3490dc;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.7875rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: dimgray;
    text-align: left;
}

    #mainNav .navbar-brand{
        font-size:1.75em;
        transition-property:all;
        transition-duration:0.3s
    }
    .navbar-expand-lg .navbar-toggler{
        display: none;
    }
    .navbar-expand-lg .navbar-collapse{
        display:flex!important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-nav{
        flex-direction: row;
    }
    #mainNav .navbar-nav .nav-item .nav-link{
        padding-top: 1.1em !important;
        padding-right: 1em !important;
        padding-bottom: 1.1em !important;
        padding-left: 1em !important;
    }

    .container{
    max-width: 1140px;
    }
    #mainNav{
        background-color: lightsalmon;
    }


.container{
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#mainNav .navbar-brand{
    color: dimgray;
}
.navbar-brand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}
a{
    text-decoration: none;
}
.navbar-collapse{
    flex-grow: 1;
    align-items: center;
}
.text-uppercase{
    text-transform: uppercase!important;
}
.ml-auto, .mx-auto{
    margin-left: auto!important;
}
.navbar-nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style-position: inherit;
    list-style-image: inherit;
    list-style-type: none;
    list-style: none;
}
#mainNav .navbar-nav .nav-item .nav-link{
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}
.nav-link{
    display: block;
}
dl, ol, ul{
    margin-top: 0;
}
li{
    display: list-item;
    text-align:center;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}